.App {
  text-align: center;
  align-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#logo {
  height: 70px;
  align-self: center;
  padding: 0 12px 0  12px;
  border-radius: 10px;
}

#subtitle {
  margin-left: 0;
}

.columns, .results {
  margin: 20px;
  padding: 10%
}

#logo {
  background-color: #23d160;
  color: white;
}

.title {
  margin: 20px;
}

.results {
  font-size: 32px;
  margin-left: 0;
  padding: 12px;
}
